<head></head>
<body>
  <div class="footer-card">
    <div class"card">
      <div class="footer-text">
        <strong>Email:</strong>
        <p>lvlytoulouse@gmail.com</p>
        <strong>Instagram:</strong>
        <p>@lovely_toulouse</p>
      </div>
    </div>
   
    <div class="arrow">
      <a href="#"><%= fa_icon "arrow-circle-up size: 3x" %></a>
    </div>
  </div>
</body>