.link {
  color:black;
}

#link:hover {
  color:black;
}

.comments{
  display: inline-block;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 1rem;
  margin-top: -4px;
  margin-bottom: -9px;
}

.comments img {
  width: auto;
  height: 100%;
  margin-left: 0px;
}

.comment-text {
  margin-left: 20px;
}

@media (max-width: 60em) {
  .comment {
    padding: 17px;
    margin-top: 10px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.3);
    height: auto;
    position: relative;
  }
  .food_card {
    margin-left: 5px;
    margin-right: 5px;
  }
  .comment-wrap {
    margin-left: 13px;
    margin-right: 13px;
  }

  .food-card-container {
    margin-left: 7px;
    margin-right: 7px;
  }

  .btn-land {
    margin-left: 7px;
    margin-right: 7px;
  }


}

@media (min-width: 60em) {
  .comment {
    padding: 17px;
    margin-top: 10px;
    border-radius: 6px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.3);
    height: auto;
    position: relative;
    max-width: 50em;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .food-card-container {
    max-width: 50em;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .new {
    max-width: 50em;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .btn-land {
    max-width: 50em;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (max-width: 48em) {
  .check-it {
    margin-left: 20px;
  }
  .food_img > img{
    width: 7rem;
    padding: 12px;
  }
}

@media (min-width: 48em) {
  .check-it {
    position: absolute;
    right: 4%;
    top: 35px;
  }

  .food_img > img{
    width: 10rem;
    padding: 15px;
  }
}



.food_title {
  margin-left: 2rem;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: -15px;
}

.food_description {
  margin-left: 2rem;
  padding: 15px;
  font-size: 14px;
}

.edit-food {
  margin-left: 2rem;
  padding: 15px;
}

.food_title1 {
  color: black;

  &:hover {
    color: black;
    text-decoration: underline;
  }
  font-family: 'Roboto', sans-serif;
}


.new {
  margin-left: 5px;
  margin-bottom: 5px;
}

.food-form {
  padding: 17px;
}

.food-card-show-button {
  text-align: right;
  margin-bottom: 1rem;
  margin-right: 16px;
  color: white;
}



.restricted {
  max-width: 47px;
}

