<!DOCTYPE html>
<html>
  <head>
    <title>LovelyToulouseT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="<%= @seo_keywords %>" />

    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
